<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Alert - SoftKit Academy</title>
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="preload" media="print" onload="this.onload=null;this.rel='stylesheet'">
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;900&display=swap"
        rel="stylesheet">
</head>

<body
    style="background-color: white; display: flex; align-items: center; gap: 8px; height: 100svh; width: 100svw; font-family: 'Be Vietnam Pro', sans-serif; box-sizing: border-box; margin: 0;">
    <main style="box-sizing: border-box; margin: 0; display: flex; align-items: center; gap: 8px; margin-inline: auto;">
        <div
            style="box-sizing: border-box; margin: 0; max-width: 400px; margin-inline: 24px; justify-content: center; position: relative; padding: 24px; border-radius: 6px; background-color: #fff; box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1); height: 100%;">
            <h1 style="box-sizing: border-box; margin: 0; font-size: 1.563rem; font-weight: 500; color: #282828; margin-block-end: 4px;">Alerta de seguridad</h1>
            <p style="box-sizing: border-box; margin: 0; color: #999999; font-size: 0.957rem;">Nuestros sistemas detectaron actividad inusual en su cuenta</p>
            <div style="box-sizing: border-box; margin: 0; margin-block: 20px; gap: 4px; padding-top: 50px;">
                <div style="box-sizing: border-box; margin: 0; display: flex; gap: 8px;">
                    <img src="https://softkitacademy.com/static/icons/warning.png" alt="Warning icon" height="24" width="24">
                    <div style="box-sizing: border-box; margin: 0; margin-left: 4px;">
                        <h3 style="box-sizing: border-box; margin: 0; font-weight: 500; font-size: 1.128rem; color: #000;">Inicio de sesión no verificado</h3>
                        <p style="box-sizing: border-box; margin: 0; color: #999999; font-size: 0.957rem;">Se ha iniciado sesión en un nuevo dispositivo</p>
                        <p style="box-sizing: border-box; margin: 0; color: #999999; font-size: 0.957rem;">
                            <br>
                            Device: {{ info.get("device") }}<br>
                            IP Address: {{ info.get("ip") }}<br>
                            Country: {{ info.get("country") }}<br>
                            OS: {{ info.get("os") }}<br>
                            <!-- Location: San Francisco, CA<br> -->
                            Time: {{ info.get("date") }}<br>
                        </p>
                    </div>
                </div>
            </div>
            <div style="box-sizing: border-box; margin: 0; gap: 4px; padding-bottom: 50px;">
                <div style="box-sizing: border-box; margin: 0; display: flex; gap: 8px;">
                    <img src="https://softkitacademy.com/static/icons/lock.png" alt="Lock icon" height="24" width="24">
                    <div style="box-sizing: border-box; margin: 0; margin-left: 4px;">
                        <h3 style="box-sizing: border-box; margin: 0; font-weight: 500; font-size: 1.128rem; color: #000;">Cambio de contraseña</h3>
                        <p style="box-sizing: border-box; margin: 0; color: #999999; font-size: 0.957rem;">Se recomienda cambiar la contraseña inmediatamente para
                            asegurar su cuenta</p>
                    </div>
                </div>
            </div>
            <span style="box-sizing: border-box; margin: 0; position: relative; background: #333333; color: #fff; padding: 15px 25px 15px 25px; border-radius: 6px; width: fit-content; height: fit-content;">Verificar seguridad</span>
        </div>
    </main>
</body>

</html>